// Image styles for the primary photo in lightbox

.lightbox-photo {
  position: relative;

  figure {
    text-align: center;
    margin: 0;

    &.landscape {
      height: auto;

      @include break-at($medium-screens) { width: 50vw; }

      img {
        height: auto;
        width: 100%;
      }
    }

    &.portrait, &.square {
      width: auto;
      height: 50vh;

      @include break-at($medium-screens) { height: 75vh; }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  figcaption {
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 1rem;
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    background: rgba($black, 0.5);

    @include break-at($medium-screens)  {
      letter-spacing: 1px;
      font-size: 1.5rem;
    }
  }
}
