// Modal styles for the lightbox

.modal {
  position: fixed;
  z-index: map-get($zindex, modal);
  overflow: scroll;
  top: 100%;
  right: 0%;
  bottom: 0%;
  left: 0%;

  max-width: 100vw;
  max-height: 100vh;

  opacity: 0;
  transition: $tx-all;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  padding: 2rem 1rem;
  background: $bg-modal;
  box-shadow: 0 0 30px rgba($black, 0.5);

  @include break-at($small-screens) {
    top: 100%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    border-radius: $default-corner * 2;
  }

  @include break-at($medium-screens) {
    right: 8%;
    left: 8%;
  }

  @include break-at($large-screens) {
    right: 18%;
    left: 18%;
  }

  @include ie10-hack {
    -ms-overflow-style: none;
  }

  &.visible {
    opacity: 1;
    height: auto;
    width: auto;
    top: 0%;
    transition: $tx-all;

    @include break-at($small-screens) { top: 5%; }
  }

  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

     @include break-at($medium-screens)  {
      top: 1rem;
      right: 1.5rem;
    }
  }

  .photo-container {
    display: flex;
    flex-wrap: wrap;

    @include break-at($small-screens) {
      align-items: center;
      justify-content: space-between;
    }

    .lightbox-photo {
      flex: 1 0 100%;
      order: -1;

      @include break-at($medium-screens) {
        flex: 1 0 auto;
        order: 0;
      }
    }
  }

  .iconbtn {
    flex: 1 0 50%;
    max-width: 50%;

    &.next { text-align: right; }

    @include break-at($medium-screens) {
      flex: 1 0 auto;
      max-width: 100%;
    }
  }
}
