// Overlay style

.overlay {
  display: none; // Temporarily
  position: fixed;
  z-index: map-get($zindex, overlay);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($black, 0.65);
}
