// Base styles

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $cabin;
  margin: 0;
  padding: 0;
  color: $copy-light;
  background: $bg-right; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $bg-right , $bg-left); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $bg-right , $bg-left); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
}
